---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{%- if description %}
<blockquote class="post-description">{{ description }}</blockquote>
{%- endif %}

<ul class="post-metadata">
	<li>📅 <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

<div class="giscus"></div>
<script src="https://giscus.app/client.js"
	data-repo="afoim/giscus-fuwari"
	data-repo-id="R_kgDOOi8quw"
	data-category="Announcements"
	data-category-id="DIC_kwDOOi8qu84CprDV"
	data-mapping="pathname"
	data-strict="1"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="top"
	data-theme="dark"
	data-lang="zh-CN"
	data-loading="lazy"
	crossorigin="anonymous"
	async>
</script>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>← 上一篇：<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>下一篇：<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> →</li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
